body {
    background-color: hsl(328, 79%, 96%);
    margin: 0;
    padding: 0;
}

.container {
    margin: 2vh auto;
    margin-top: 0%;
    padding: 0;
    width: 70%;
    background-color: white;
    border-radius: 20px;
}

.cont_content {
    margin: 1vh;
    padding: 3vh;
    width: 95%;
    height: auto;
}

/* diseño de imagen */
.image {
    margin: 3vh 2vh 0 2vh;
    padding: 0;
    width: 100%;
}
/* img  */
.image img {
    width: 97%;
    border-radius: 10px;
}

/* diseño de descripción */
.description {
    margin: 2vh;
    padding: 2vh;
    width: 100%;
}
/* diseño de titulo de descripción */
.description h1 {
    margin: 2vh 0 0 -2vh;
    padding: 0;
}
/* diseño de texto de descripción */
.description p {
    margin: 4vh 0 4vh -2vh; ;
    padding: 0;
    width: 96%;
}   
/*diseño de letras*/
h1 {
    padding: 0;
    font-size: 10vh;
    font-family: Outfit;
}

p {
    padding: auto;
    font-size: 3.7vh;
    font-family: Young-Serif;
    font-weight: 400;
    width: 100%;
}
/* Pausa de pensar......*/

/* diseño de preparacion */
.preparation {
    margin-left: 2vh;
    padding: 2vh;
    width: 94.5%;
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
}

/* diseño de título de preparacion */
h3 {
    font-family: Outfit;
    font-size: 5.5vh;
    margin: 1vh 0 1vh 2vh;
    padding: 0;
    color: hsl(332, 51%, 32%);

}

/* diseño de contenido de preparacion */
li {
    font-family: Young-Serif;
    font-size: 3.7vh;
    font-weight: 400;
    margin: 0 0 1vh 1vh;
    padding: 1.5vh 0 0 3vh;
}

/* diseño de ingredientes */
.ingredients {
    margin: 2vh 0 2vh -2vh;
    padding: 2vh;
    width: 100%;
}

/* diseño de título de ingredientes */ 
.ingredients h2 {
    font-family: Outfit;
    font-size: 6.5vh;
    margin: 1vh 0 1vh 3vh;
    padding: 0;
    color:  hsl(14, 45%, 36%);
}

hr {
    margin: 0 0 2vh 3vh;
    width: 94%;
    border: 0.5 solid hsl(14, 45%, 36%);
}

/* diseño de instruction */
.Instruction {
    margin: 2vh 0 2vh -2vh;
    padding: 2vh;
    width: 95%;
}

/* diseño de título de instruction */  
.Instruction h2 {
    font-family: Outfit;
    font-size: 6.5vh;
    margin: 1vh 0 1vh 3vh;
    padding: 0;
    color:  hsl(14, 45%, 36%);

}

/* diseño de contenido de instruction */
.Instruction li::marker {
    font-family: Young-Serif;
    font-size: 3.7vh;
    font-weight: 400;
    margin: 0 0 1vh 1vh;
    padding: 1.5vh 0 0 3vh;
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

/* diseño de nutrición */
.nutrition {
    margin: 2vh 0 2vh -2vh;
    padding: 2vh;
    width: 95%;
}

/* diseño de título de nutrición */
.nutrition h2 {
    font-family: Outfit;
    font-size: 6.5vh;
    margin: 1vh 0 1vh 3vh;
    padding: 0;
    color:  hsl(14, 45%, 36%);
}

.nutrition p {
    font-family: Young-Serif;
    font-size: 3.7vh;
    font-weight: 400;
    margin: 0 0 1vh 0;
    padding: 1.5vh 0 0 3vh;
}

.nutrition table {
    width: 100%;
    margin: 2vh 0 0 3vh;
    border-collapse: collapse;
    margin-top: 1vh;
}

.nutrition th, .nutrition td {
    border-bottom: 0.1px solid rgb(199, 199, 182);
    padding: 2vh 0 2vh 5vh;
    text-align: left;
    font-family: Young-Serif;
    font-size: 3.7vh;
    font-weight: 400;
}
.BorderNot {
    border-bottom: hidden;
}

.nutrition td {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}
/* Responsive design */
 @media (max-width: 1300px) and (max-height: 900px) and (min-width: 1200px) and (min-height: 600px) {
    .container {
        width: 95%;
    }
/* diseño de contenido */

    .cont_content {
        padding: 2vh;
        margin: 1vh 1vh 1vh 2vh;
    }

/* diseño de descripción */
    .description {
        margin: 2vh 1vh 0 1vh;
        padding: 2vh 0 -1vh -2vh;
        width: 98%;
    }
/* diseño de texto de descripción */
.info_Text {
        margin: 2vh 1vh 0 1vh;
        padding: 0;
        width: 99%;
    }

/* diseño de letras */
    h1 {
        font-size: 7.5vh;
    }
    p {
        font-size: 4vh;
    }
/* diseño de imagen */
    .description img {
        width: 100%;
    }
/* diseño de preparación */
    .preparation {
        width: 95%;
        padding: 2vh;
    }
/* diseño de título de preparación */
    h3 {
        font-size: 5vh;
        margin-left: 1vh;
    }
/* diseño de contenido de preparación */
    li {
        font-size: 3.5vh;
        padding-left: 2vh;
    }
/* diseño de ingredientes */    
.ingredients {
        width: 95%;
        padding: 2vh;
        margin: 1vh 1vh 2vh 1vh;
    }
/* diseño de título de ingredientes */

    .ingredients h2 {
        font-size: 5vh;
        margin-left: 1vh;
    }
    hr {
        margin-left: 1vh;
        width: 95%;
    }
/* diseño de instruction */
    .Instruction {
        width: 95%;
        padding: 2vh;
        margin: 1vh 1vh 2vh 1vh;
    }
/* diseño de título de instruction */
    .Instruction h2 {
        font-size: 5vh;
        margin-left: 1vh;
    }
/* diseño de contenido de instruction */
    .Instruction li::marker {
        font-size: 3.5vh;
        padding-left: 2vh;
    }
/* diseño de contenido de instruction */
    .Instruction li{
        margin: 3vh;
    }
/* diseño de nutrición */
    .nutrition {
        width: 95%;
        padding: 2vh;
        margin: 1vh 1vh 2vh 1vh;
    }
/* diseño de título de nutrición */
    .nutrition h2 {
        font-size: 5vh;
        margin-left: 1vh;
    }
    .nutrition p {
        font-size: 3.5vh;
        padding-left: 2vh;
    }
    .nutrition table {
        margin: 2vh 0 0 1vh;
    }
    .nutrition th, .nutrition td {
        padding: 2vh 0 2vh 3vh;
        font-size: 3.5vh;
    }
        .nutrition td {
            font-size: 3.5vh;
        }

}

@media (max-width: 1199px) and (max-height: 900px) and (min-width: 1000px) and (min-height: 500px) {
    .container {
        width: 100%;
        border-radius: 0;
        margin-top: -2vh;
        padding: 0;
    }
    
/* diseño de contenido */
    .cont_content {
        padding: 2vh;
        margin: 2vh 0vh 0 3vh;
    }
/* diseño de descripción */
    .description {
        margin: 2vh 0 0 3vh;
        padding: 1vh;
        width: 96%;
    }
/* diseño de texto de descripción */
.info_Text {       
        margin: 0;
        padding: 0;
        width: 96%;
    }
/* diseño de letras */
    h1 {
        font-size: 7vh;
    }
    p {
        font-size: 3.8vh;
    }
/* diseño de imagen */
    .description img {
        width: 100%;
    }
/* diseño de preparación */
    .preparation {
        width: 94%;
        padding: 2vh;
    }
/* diseño de título de preparación */
    h3 {
        font-size: 5vh;
        margin-left: 1vh;
    }
/* diseño de contenido de preparación */
    li {
        font-size: 3.8vh;
        padding-left: 2vh;
    }
/* diseño de ingredientes */    
    .ingredients {
        width: 95%;
        padding: 2vh;
        margin: 2vh 0 2vh 3vh;
    }
/* diseño de título de ingredientes */
    .ingredients h2 {
        font-size: 5vh;
        margin-left: 1vh;
    }   
    hr {
        margin-left: 1vh;
        width: 95%;
    }
/* diseño de instruction */
    .Instruction {
        width: 95%;
        padding: 2vh;
        margin: 2vh 0 2vh 3vh;
    }
/* diseño de título de instruction */
    .Instruction h2 {
        font-size: 5vh;
        margin-left: 1vh;
    }
/* diseño de contenido de instruction */
    .Instruction li::marker {
        font-size: 3.8vh;
        padding-left: 2vh;
    }
/* diseño de contenido de instruction */
    .Instruction li{
        margin: 3vh;
    }
/* diseño de nutrición */
    .nutrition {    
        width: 92%;
        padding: 2vh;
        margin: 2vh 0 2vh 3vh;
    }
/* diseño de título de nutrición */
    .nutrition h2 {
        font-size: 5vh;
        margin-left: 1vh;
    }
    .nutrition p {
        font-size: 3.8vh;
        padding-left: 2vh;
    }
    .nutrition table {
        margin: 2vh 0 0 1vh;
    }
    .nutrition th, .nutrition td {
        padding: 2vh 0 2vh 3vh;
        font-size: 3.8vh;
    }
        .nutrition td {
            font-size: 3vh;
        }

}

@media (max-width: 999px) and (max-height: 700px) and (min-width: 700px) and (min-height: 501px) {
    .container {
        width: 100%;
        border-radius: 0;
        margin-top: -2vh;
        padding: 0;
    }
    
/* diseño de contenido */
    .cont_content {
        padding: 2vh;
        margin: 2vh 0vh 0 3vh;
    }
/* diseño de descripción */
    .description {
        margin: 2vh 0 0 3vh;
        padding: 1vh;
        width: 95%;
    }
/* diseño de letras */
    h1 {
        font-size: 7vh;
    }
    p {
        font-size: 3.8vh;
    }
/* diseño de imagen */
    .description img {
        width: 100%;
    }
/* diseño de preparación */
    .preparation {
        width: 92%;
        padding: 2vh;
    }
/* diseño de título de preparación */
    h3 {
        font-size: 5vh;
        margin-left: 1vh;
    }
/* diseño de contenido de preparación */
    li {
        font-size: 3.8vh;
        padding-left: 2vh;
    }
/* diseño de ingredientes */    
    .ingredients {
        width: 95%;
        padding: 2vh;
        margin: 2vh 0 2vh 3vh;
    }
/* diseño de título de ingredientes */
    .ingredients h2 {
        font-size: 5vh;
        margin-left: 1vh;
    }   
    hr {
        margin-left: 1vh;
        width: 95%;
    }
/* diseño de instruction */
    .Instruction {
        width: 95%;
        padding: 2vh;
        margin: 2vh 0 2vh 3vh;
    }
/* diseño de título de instruction */
    .Instruction h2 {
        font-size: 5vh;
        margin-left: 1vh;
    }
/* diseño de contenido de instruction */
    .Instruction li::marker {
        font-size: 3.8vh;
        padding-left: 2vh;
    }
/* diseño de contenido de instruction */
    .Instruction li{
        margin: 3vh;
    }
/* diseño de nutrición */
    .nutrition {    
        width: 92%;
        padding: 2vh;
        margin: 2vh 0 2vh 3vh;
    }
/* diseño de título de nutrición */
    .nutrition h2 {
        font-size: 5vh;
        margin-left: 1vh;
    }
    .nutrition p {
        font-size: 3.8vh;
        padding-left: 2vh;
    }
    .nutrition table {
        margin: 2vh 0 0 1vh;
    }
    .nutrition th, .nutrition td {
        padding: 2vh 0 2vh 3vh;
        font-size: 3.8vh;
    }
        .nutrition td {
            font-size: 3vh;
        }

}